* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.app-container {
  display: flex;
  height: 100vh;
}

.dashboard {
  margin-left: 260px;
  padding: 40px;
  background-color: #ecf0f1;
  min-height: 100vh;
  width: calc(100% - 220px);
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.dashboard::-webkit-scrollbar {
  display: none;
}