* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

.app-container {
  display: flex;
  height: 100vh;
}

.dashboard {
  flex: 1;
  padding: 40px;
  background-color: #ecf0f1;
}
